# =========================
# MAX API
# =========================

# Токен бота MAX API
# Получить в панели управления ботом
MAX_BOT_TOKEN=


# =========================
# Redis
# =========================

# Имя сервиса Redis в Docker Compose
REDIS_HOST=redis

# Порт Redis
REDIS_PORT=6379

# Номер базы Redis
REDIS_DB=0

# Пароль Redis (если используется)
REDIS_PASSWORD=


# =========================
# Application
# =========================

# Режим отладки
# True - разработка
# False - сервер
DEBUG=False

# Уровень логирования
# DEBUG / INFO / WARNING / ERROR
LOG_LEVEL=INFO